:host {
  margin: 3rem auto 0;
  padding: 0 1rem;
  max-width: 64rem;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.mat-card {
  word-break: break-word;
}
